.row-margin {
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 5px;
  padding-bottom: 25px;
}

.navbar-nav{
  /*margin-top: 70px;*/
}

#actions-box {
  border: 1px solid gray;
  margin-top: 75px;
}

.login-User {
  border: 1px solid gray;
  padding: 15px;
  width: 40%;
  margin: 10px auto;
}

table {
  width: 100%;
}

.table-user-profile {
  width: 80%;
}

.edit-profile-button {
  margin-top: 25px;
}

#login-button {
  margin-top: 20px;
}

/*#edit-user-username{
  width: 200px;
}*/


.edit-run-button {
  margin: 10px;
}

delete-run-button

.delete-run-button {
  margin: 10px;
}

th {
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  padding-top: 3px;
  padding-bottom: 3px;
}

td {
  padding-top: 2px;
  padding-bottom: 2px;
}

.user-profile {
  border: 1px solid gray;
}

/*.run-profile {
  border: 1px solid gray;
}*/

.add-Run{
  border: 1px solid gray;
}

.edit-User {
  border: 1px solid gray;
}

.runs-list {
  border: 1px solid gray;
}

.run-profile {
  border: 1px solid gray;
}


.all-Users {
  border: 1px solid gray;
}

.add-Run {
  border: 1px solid gray;
}

.profile-photo {
  max-width:95%;
  max-height:95%;
}

.profile-photo-box {
  width: 150px;
  height: 200px;
  border: 2px solid gray;
  padding-top: 5px;
  margin-top: 40px;
}
